.container {
  width: 400px;
  min-width: 400px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid rgb(229, 229, 229);
  /* overflow: hidden; */
  overflow-y: scroll;
  background-color: white;
  margin-right: 40px !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.quick_fixes {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

.title {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-bottom: 10px;
}

.content {
  margin: 8px;
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

.section_header {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  font-weight: 500;
  margin-bottom: 15px;
}

.section_header_2 {
  display: flex;
  font-size: 12px;
  line-height: 20px;
  -webkit-box-align: center;
  font-weight: 500;
  margin-bottom: 15px;
}

.action {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
  color: rgba(0, 0, 0, 0.7);
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.75;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100 !important;
  letter-spacing: 0.25px;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.action:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.quick_fix_buttons {
  margin: 18px;
  border-top: 1px solid rgb(229, 229, 229);
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
}

.seperator {
  font-weight: 500;
  font-size: 15px;
  color: rgb(153, 153, 153);
}

.quick_fix_button {
  padding: 5px 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.75;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  letter-spacing: 0.25px;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 36px;
  background: #fed503;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid;
  border-radius: 4px;
}
